.outer {
    background-color: rgb(0, 174, 239);
    margin: auto;
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px; 
}
.class1{
    margin: auto;
    background-image: url("/tugasbesar2_2018/Pro-Book/frontend/img_resource/bg.PNG");
    width: 92%;
    padding: 10px;
}

#login-google{
    max-height: 30px;
    width: auto;
}

body {
    overflow: hidden;
    display:flex;
    min-width:100vw;
    min-height:100vh;
}
.title{
    text-align: center;
    font-family: "Pathway Gothic One";
    letter-spacing: 10px;
}

.input{
    display: block;
    text-align: center;
}

input{
    margin-bottom: 10px;    
}

label{
    vertical-align: top;
    margin-right: 2%;
}
input[type=submit] {
    padding:5px 15px; 
    background-color: white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px; 
    border: 2px solid orange;
    color: orange;
    display: block;
    margin: auto;
    width: 100px;
    
}

