#content {
	position: absolute;
	margin-top: 12vh;
}

.display-block {
	display:block !important;
}

#first-row {
    margin-top: 4%;
}

#second-row {
    margin-top: 20%;
}

input[type="text"] {
    width:100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px grey solid;  
}

#search-btn {
    float: right;
    text-align: center;
    color: #fff;
    background-color:rgb(0, 174, 239);
    border-radius: 4px;
    border: none;
    padding: 5px 25px;
    margin-top: 10px;
}

#search-book-title {
    margin-bottom: 30px;
    color: orangered; 
}

#search-result-container{
    padding-top: 2%;
}

.hidden {
    display: none;
}

#num-result-banner {
    margin: auto 0 0 auto;
    text-align: right;
}

#search-result-list {
    margin-top : 25px;
    display: flex;
    flex-flow: column;
}

.image-container{
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
    justify-content: center;
}

.detail-container{
    display: flex;
    flex-grow: 10;
    flex-basis: 0;
    flex-flow: column;
}

.img-thumbnail {
    border: 1px black solid;
    padding: 0 15px;
}

.detail-btn {
    text-align: center;
    color: #fff;
    background-color:rgb(0, 174, 239);
    border-radius: 4px;
    border: none;
    padding: 5px 25px;
    margin: 0 0 0 auto;
}

.book-title {
    color : rgba(242,102,0,1);
}

.flex-container{
    display: flex;
    flex-flow: column;
}

.search-result-row{
    display: flex;
    flex-flow: column;
}

.search-result-row .row{
    display: flex;
}